body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url(mrozee.png);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* plansze równo od góry */
  gap: 50px;
  margin-top: 30px;

}

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
  gap: 2px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #a0dcff;
  border: 1px solid rgb(1, 1, 2);
  cursor: url('png-clipart-shooting-target-reticle-computer-icons-art-font-angle-desktop-wallpaper-1268394833-1.png') 16 16, pointer;
}

.cell.ship {
  background-color: rgb(34, 70, 83);
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: rgb(137, 73, 189);
}

#przycisk {
  margin-top: 30px; 
  text-align: center; 
}

#przycisk button {
  padding: 10px 25px;
  font-size: 16px;
  background-color: #3e8ef7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

#przycisk button:hover {
  background-color: #3869b3;
  transform: scale(1.05);
}
